# =====================================================================
# Selsolve Smart Retail POS Terminal Environment Configuration
# =====================================================================

# POS Backend Tenant API Base URL
VITE_POS_BE_URL=http://localhost:5001/api/pos

# Master Backend API Base URL
VITE_ADMIN_BE_URL=http://localhost:5001/api
